services:
  # 1. BASE DE DATOS (Capa de Persistencia)
  db:
    image: postgres:17-alpine
    container_name: air-quality-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 2. INGESTA (Worker que escribe datos)
  app:
    build: ./app
    container_name: air-quality-ingestion
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./app:/usr/app

  # 3. TRANSFORMACIÓN (DBT)
  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.8.2
    container_name: air-quality-dbt
    command: run # Ejecuta los modelos al arrancar
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: db
    volumes:
      - ./air_quality_dbt:/usr/app/air_quality_dbt
      - ./air_quality_dbt/profiles.yml:/root/.dbt/profiles.yml
    working_dir: /usr/app/air_quality_dbt
    depends_on:
      db:
        condition: service_healthy
      app:
        condition: service_started # Espera a que la app inicie (idealmente debería esperar a que acabe)

  # 4. BACKEND API (Servidor que lee datos - Puerto 8000)
  backend:
    build: ./backend
    container_name: air-quality-api
    ports:
      - "8000:8000" # Acceso: http://localhost:8000/docs
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  # 5. FRONTEND USUARIO (Dash/Plotly - Puerto 8050)
  frontend:
    build: ./frontend
    container_name: air-quality-frontend
    ports:
      - "8050:8050" # Acceso: http://localhost:8050
    environment:
      # IMPORTANTE: Aquí usamos el nombre del servicio 'backend' dentro de la red Docker
      - API_URL=http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped

  # 6. DASHBOARD ADMIN (Grafana - Puerto 3000)
  grafana:
    image: grafana/grafana:latest
    container_name: air-quality-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning:/etc/grafana/provisioning/dashboards
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    env_file: .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
  grafana_data: